#chat-view{
    padding-top: 1rem;
}

.chat-bubble{
    --bubble-color: rgb(78, 138, 78);
    position: relative;
}
.cm-self{
    --bubble-color: aqua;
    writing-mode: horizontal-tb;
    direction: rtl;
}

.cm-self .chat-tip {
    scale: -1 1;
}

.chat-message{
    background-color: var(--bubble-color);
    width: auto;
    max-width: 80%;
    text-wrap: balance;
    word-break: break-word;
    border: 1px solid gray;
    border-start-start-radius: .5rem;
    border-start-end-radius: .5rem;
    border-end-end-radius: .5rem;
    padding: .25rem;
    display: inline-block;
    position: relative;
    inset-block-start: 0;
    inset-block-end: 0;
    z-index: 5;
    white-space-collapse: preserve-breaks;
}
.chat-tip{
    --width: 1rem;
    width:var(--width);
    height:var(--width);
    position:relative;
    inset-inline-end: -0.9px; /* moves the bubble so border line up */
    z-index:6;
}
.chat-tip-background {
    fill: var(--bubble-color);
    stroke: gray;
    stroke-width:1.5px;
    stroke-linecap: butt;
    width: 110%;
    height: calc(100% - 1px);
    x: 1px;
    y: 1px;
}
.chat-tip-curve {
    fill: var(--bs-light);
    stroke: gray;
    stroke-width: medium;
    cx: -0.3px;
    cy: 0;
    r: 100%;
}


.right-arrow {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}