#chat-view{
    padding-top: 1rem;
}

.chat-bubble{
    position:relative;
}
.chat-bubble .cm-self{
    --bubble-color: aqua;
    background-color: var(--bubble-color);
}
.chat-bubble .cm-other{
    --bubble-color: rgb(78, 138, 78);
    background-color: var(--bubble-color);
}
.cm-self{
    writing-mode: horizontal-tb;
    direction: rtl;
}

.chat-message{
    width: auto;
    max-width: 100%;
    text-wrap: balance;
    word-break: break-word;
    border: thin solid gray;
    border-start-start-radius: .5rem;
    border-start-end-radius: .5rem;
    border-end-end-radius: .5rem;
    padding: .25rem;
    margin-block: .25rem;
    margin-inline: 0px .25rem;
    display:inline-block;
    position:relative;
    inset-block-start: 0;
    inset-block-end: 0;
    z-index: 5;
    box-sizing:content-box;

}
.chat-tip-container{
    width:1rem;
    height:1rem;
    position:relative;
    inset-block-end: -0.65rem;
    inset-inline-end: -0.05rem;
    border-inline-end: thin solid var(--bubble-color);
    border-block-end: thin solid gray;
    border-radius:0;
    display: inline-block;
    box-sizing:content-box;
    z-index: 6;
}
.chat-tip-container::after{
    content:"";
    border-block-end: thin solid gray;
    border-inline-end: thin solid gray;
    background-color: rgb(248, 249, 250);
    position:absolute;
    border-end-end-radius: 100%;
    width:100%;
    height:100%;
    box-sizing:content-box;
    display: inline-block;
}
.btn-disabled {
    pointer-events: none;
}