.form-floating label {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}
#game-start-container {
    background-image: linear-gradient(rgb(0 0 0 / 0.5)), url('/gateOption.jpeg');
    background-size: cover;
    background-position: center;
}

#game-container{
    width:320px;
    height: 450px;
    position:relative;
    display:none
}
#gamebar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin:0;
    padding:0;
    position:absolute;
    top:0
    /* display:none */
}
.gamebar-item{
    margin:0;
    padding:0;
    font-size: small;
}