/*General Rules*/

.body{
    height: 100vh;
    display:flex;
    flex-direction: column;
}
footer {
    z-index: 300;
}
header {
    box-shadow: 0 0 .3rem .2rem black;
}
#MainNav{
    padding-right: .75rem;
    padding-left: .75rem;
}
main{
    width:75%;
    height:100%;
    box-shadow: .25rem 0 .5rem 0 black;
}
#main-container{
    flex:1;
    box-shadow: 0 .25rem .5rem black inset;
    margin:0;
    padding:0;
}
.col{
    padding: 8px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
footer {
    box-shadow: 0 0 .3rem .2rem black
}
.right-half{
    width: calc(100% - 2px);
}
.btn-disabled {
    pointer-events: none;
}



/* // small devices (tablets, less than 576px) */
@media (max-width: 575.98px) {
    #login-container{
        flex: 1;
        display: flex;
        justify-content: end;
    }
    #chat-view{
        flex-wrap: wrap;
    }
    main{
        width:100%;
        box-shadow: none;

    }
    .navbar-brand{
        text-align: center;
    }

    
}